<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<title>TEAM Intgram</title>
	</head>
	<body>
		<div class="contents">
			<header class="menu">
				<div class="logo"><div>{ Intgram }</div></div>

				<section class="menu-wrapper">
					<nav class="side-menu">
						<a class="menu-link" href="#">
							<i class="fa-solid fa-house"></i>
							<span>Home</span>
						</a>
						<a class="menu-link" href="../components/netzero.html">
							<i class="fa-solid fa-seedling"></i>
							<span>Dashboard</span>
						</a>
						<a class="menu-link" href="../components/archive.html">
							<i class="fa-solid fa-file-zipper"></i>
							<span>Newsfeed</span>
						</a>
						<a class="menu-link" href="../components/calculation.html">
							<i class="fa-solid fa-calculator"></i>
							<span>Calculation</span>
						</a>
					</nav>
				</section>

				<section id="login-area" class="contents-header__login">
					<nav class="login-menu">
						<a class="login-menu-link" href="../components/login.html">
							<i class="fa-regular fa-circle-user"></i>
							<span>Login</span>
						</a>
						<a class="login-menu-link" href="../components/join.html">
							<i class="fa-solid fa-arrow-right-to-bracket"></i>
							<span>Register</span>
						</a>
					</nav>
				</section>

				<!-- 비동기 방식으로 로그인 화면 이동 -->
				<section id="login-screen" style="display: none"></section>

				<!-- 비동기 방식으로 회원가입 화면 이동 -->
				<section id="join-screen" style="display: none"></section>

			</header>
		</div>
    

		<main class="contents-container">

			<div id="join">
				<form action="" method="post">
					<section class="join-title">
						<p>Register</p>
						<div class="join-line"></div>
					</section>
					<section class="join-input">
						<div class="join-input__inputs">
							<label for="bizNumber">
								<span class="asterisk">*</span>
								<span>Business Number</span>
							</label>
							<input type="text" id="bizID" required />
						</div>

						<div class="join-input__inputs">
							<label>
								<span class="asterisk">*</span>
								<span>ID</span>
							</label>
							<input type="text" id="id" required />
						</div>

						<div class="join-input__inputs">
							<label>
								<span class="asterisk">*</span>
								<span>Email</span></label
							>
							<input type="text" id="email" />
						</div>

						<div class="join-input__inputs">
							<label>
								<span class="asterisk">*</span>
								<span>Password</span>
							</label>
							<input type="password" id="password" required />
						</div>

						<div class="join-input__inputs">
							<label>
								<span class="asterisk">*</span>
								<span>Company</span>
							</label>
							<input type="text" id="company" required />
						</div>

						<div class="join-input__inputs">
							<label>
								<span class="asterisk"></span>
								<span>Position Titles</span>
							</label>
							<input type="text" id="rank" required />
						</div>

						<div class="join-btns">
							<div class="join-input-btn">
								<input type="reset" value="Cancel" />
								<input type="button" value="Confirm" />
							</div>
						</div>
					</section>
				</form>
			</main>
		</main>
	</body>
</html>
